services:
  db:
    image: ankane/pgvector
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      POSTGRES_DB: okrs
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5433:5432'

volumes:
  postgres_data:
